# Imports from dependencies
import(dplyr)
import(fs)
import(glue)
import(ggplot2)
import(ggdendro)
import(ggpubr)
importFrom(gridExtra, grid.arrange)
import(patchwork)
import(purrr)
import(qpdf)
import(readr)
import(Seurat)
import(SeuratObject)
import(stringr)
import(tibble)
import(DBI)
import(RSQLite)

# Exported functions
export(add_batch_hash_metadata)
export(add_hash_metadata)
export(add_hypoxia_score)
export(add_image_slide)
export(add_phase_to_filtered_seu)
export(all_same_sign)
export(annotables_to_grange)
export(annotate_cell_cycle_without_1q)
export(annotate_cluster_membership)
export(annotate_cluster_scna_percentage)
export(annotate_filter_reason)
export(annotate_seu_with_rb_subtype_gene_expression)
export(append_clone_nums)
export(apply_filter_criteria)
export(assemble_diploid_seu)
export(assign_designated_phase_clusters)
export(assign_phase_cluster_at_resolution)
export(assign_phase_clusters)
export(binom_test_clone_percent)
export(browse_celltype_expression)
export(bulk_extract_seu_metadata)
export(calculate_6p_percent_affected)
export(calculate_arm_percent)
export(calculate_avg_cluster_distance)
export(calculate_clone_distribution)
export(check_cluster_marker_gene)
export(check_integrated_cluster_numbers)
export(check_merged_metadata)
export(chi_sq_daughter_clusters)
export(clean_diffex)
export(clone_cc_plots_by_scna)
export(clone_diff_per_cluster)
export(collate_clone_distribution_tables)
export(collate_hypoxia_summary)
export(collate_sample_summary)
export(collect_all_markers)
export(collect_clusters_from_seus)
export(collect_markers)
export(collect_study_metadata)
export(color_clustree_by_clone)
export(compare_cluster_composition)
export(compare_cluster_continuous_var)
export(compare_corresponding_enrichments)
export(compare_enrichment)
export(compare_infercnv)
export(compare_markers)
export(compare_per_cluster_and_total_clone_diffex)
export(compile_cis_trans_enrichment_recurrence)
export(compile_cis_trans_enrichment_recurrence_by_cluster)
export(compile_subtype_violins)
export(compplot_feature_and_clusters)
export(convert_numbat_pngs)
export(convert_seu_to_scanpy)
export(convert_v5_to_v3)
export(convert_volcano_to_plotly)
export(debranch_seus)
export(derive_pseudobulk_subtype_scores)
export(diffex_by_cluster)
export(diffex_cells)
export(diffex_groups)
export(diffex_groups_old)
export(diffex_per_cluster)
export(dotplot_diffex)
export(dotplot_recurrent_genes)
export(drop_bad_cells)
export(drop_cluster_orders_table)
export(drop_mt_cluster)
export(drop_y_axis)
export(dummy_cluster_order)
export(encode_cluster_order_to_hash_table)
export(enrich_by_cluster)
export(enrich_diffex_by_cluster)
export(enrichment_analysis)
export(enrich_oncoprints)
export(enrich_oncoprints_clusters)
export(extract_filter_metadata)
export(extract_full_segmentation)
export(extract_seu_metadata)
export(filter_cluster_save_seu)
export(filter_input_by_region)
export(filter_input_by_scna)
export(filter_numbat_cells)
export(filter_oncoprint_diffex)
export(filter_phylo_plot)
export(filter_sample_qc)
export(find_all_diffex_from_clustree)
export(find_candidate_all_in_clustree_diffexes)
export(find_candidate_cis_in_clustree_diffexes)
export(find_candidate_trans_in_clustree_diffexes)
export(find_cc_genes_by_arm)
export(find_cluster_pairwise_distance)
export(find_diffex_bw_clones_for_each_cluster)
export(find_diffex_bw_clones_for_each_cluster_integrated)
export(find_diffex_bw_clusters_for_each_clone)
export(find_diffex_bw_divergent_clusters)
export(find_diffex_clones)
export(find_diffex_clones_between_corresponding_states)
export(find_diffex_clones_in_phase)
export(find_diffex_clones_integrated)
export(find_diffex_clusters_between_corresponding_states)
export(find_diffex_from_clustree)
export(find_genes_by_arm)
export(generate_filtering_cell_counts)
export(generate_plae_ref)
export(get_arms_ranges)
export(get_cell_qc_values)
export(get_chr_arms)
export(get_cluster_composition)
export(get_cluster_markers)
export(get_merged_metadata)
export(get_metadata_summary)
export(get_qc_metrics)
export(gse_plot_from_clone_diffex)
export(gse_plot_from_cluster_diffex)
export(heatmap_from_cluster_diffex)
export(heatmap_marker_genes)
export(heatmap_marker_genes_debug)
export(init_seu_metadata_db)
export(inspect_oncoprints)
export(integration_by_scna_clones)
export(interleave_lists)
export(label_enrichment_by_cis)
export(list_seu_objects)
export(load_and_save_hypoxia_score)
export(make_all_numbat_plots)
export(make_cc_plot)
export(make_cell_cycle_plot)
export(make_clone_comparison)
export(make_clone_comparison_integrated)
export(make_clone_distribution_figure)
export(make_cluster_comparison)
export(make_cluster_comparisons_by_phase_for_disctinct_clones)
export(make_clustree_for_clone_comparison)
export(make_clustrees_for_sample)
export(make_corresponding_states_dictionary)
export(make_expression_heatmap_comparison)
export(make_faded_umap_plots)
export(make_filepaths_unique_in_hashes_table)
export(make_filtered_numbat_plots)
export(make_gistic_plot)
export(make_integrated_collage)
export(make_integrated_numbat_plots)
export(make_leng_sce)
export(make_numbat_heatmaps)
export(make_numbat_heatmaps_old)
export(make_numbat_plot_files)
export(make_oncoprint_diffex)
export(make_oncoprint_diffex_unfiltered)
export(make_oncoprint_plots)
export(make_pairwise_plots)
export(make_pdf_montages)
export(make_pearls_plot)
export(make_rb_scna_ideograms)
export(make_rb_scna_ideograms_old)
export(make_table_s01)
export(make_table_s02)
export(make_table_s03)
export(make_table_s05)
export(make_table_s07)
export(make_table_s08)
export(make_volcano_diffex_clones)
export(make_volcano_plots)
export(merge_hypoxia_with_diploid)
export(merge_orders)
export(montage_images)
export(not_sure_what_this_does)
export(numeric_col_fun)
export(ora_analysis)
export(ora_effect_of_regression)
export(paired_plots_to_pptx)
export(parse_metadata_summary)
export(plot_cc)
export(plot_cc_space_plot)
export(plot_celltype_predictions)
export(plot_clone_cc_plots)
export(plot_clone_pearls)
export(plot_clone_tree)
export(plot_clone_tree_from_path)
export(plot_cluster_markers_by_cell_type)
export(plot_clustree_per_comparison)
export(plot_corresponding_clusters_diffex_heatmaps)
export(plot_corresponding_clusters_diffex_volcanos)
export(plot_corresponding_enrichment)
export(plot_diffex_genes_on_split_integrated_seu)
export(plot_diploid_seu_umaps)
export(plot_distribution_of_clones_across_clusters)
export(plot_distribution_of_clones_pearls)
export(plot_effect_of_filtering)
export(plot_effect_of_filtering_old)
export(plot_effect_of_regression)
export(plot_effect_of_regression_old)
export(plot_enrichment)
export(plot_enrichment_per_scna)
export(plot_enrichment_recurrence)
export(plot_enrichment_recurrence_by_cluster)
export(plot_feature_across_seus)
export(plot_feature_in_seu)
export(plot_fig_01)
export(plot_fig_02)
export(plot_fig_03)
export(plot_fig_03_09)
export(plot_fig_03_afterall)
export(plot_fig_04_05)
export(plot_fig_04_05_panels)
export(plot_fig_04_07)
export(plot_fig_04_afterall)
export(plot_fig_07_08)
export(plot_fig_08d)
export(plot_fig_09_10)
export(plot_fig_s06a)
export(plot_fig_s08)
export(plot_fig_s09)
export(plot_fig_s10)
export(plot_fig_s20)
export(plot_fig_s25)
export(plot_figure_collage)
export(plot_filtering_timeline)
export(plot_filter_sweep)
export(plot_gene_clone_trend)
export(plot_hypoxia_gene_heatmap)
export(plot_hypoxia_score)
export(plot_integrated_1q_fig)
export(plot_integrated_1q_fig_low_hypoxia)
export(plot_markers_by_cell_cycle)
export(plot_markers_in_sample)
export(plot_merged_heatmap)
export(plot_numbat)
export(plot_numbat_w_phylo)
export(plot_pcnv_by_nsnp)
export(plot_pcnv_by_reads)
export(plot_phase_distribution_by_scna)
export(plot_phase_distribution_of_all_samples_by_scna)
export(plot_phase_wo_arm)
export(plot_plae_celltype_expression)
export(plot_putative_marker_across_samples)
export(plot_rb_subtype_expression)
export(plot_recurrence)
export(plot_scna_violins)
export(plot_seu_clusters_and_markers)
export(plot_seu_gene_heatmap)
export(plot_seu_marker_heatmap)
export(plot_seu_marker_heatmap_all_resolutions)
export(plot_seu_marker_heatmap_by_scna)
export(plot_seu_marker_heatmap_by_scna_ara)
export(plot_seu_marker_heatmap_integrated)
export(plot_several_diffex_clones_in_phase)
export(plot_study_cell_stats)
export(plot_study_metadata)
export(plot_tcga_gistic)
export(plot_variability_at_SCNA)
export(plot_venn_w_genes)
export(poster_plot_markers)
export(prep_for_enrichment)
export(prep_seu_branch)
export(prep_unfiltered_seu)
export(print_table_tally)
export(pull_branches)
export(pull_cells_matching_expression)
export(pull_cluster_comparisons)
export(pull_cluster_orders)
export(pull_cluster_orders2)
export(pull_clustree_tables)
export(pull_common_markers)
export(pull_scna_segments)
export(pull_stem_cell_markers)
export(pull_subtype_genes)
export(rb_scna_frequency_in_tcga_by_cancer_type)
export(read_all_hypoxia_scores)
export(read_batch_hashes)
export(read_cells_to_remove)
export(read_cluster_dictionary)
export(read_cluster_orders_table)
export(read_giotti_genes)
export(read_liu_lu_supp_tables)
export(read_mps)
export(read_resolution_dictionary)
export(read_seu_hash)
export(read_seu_path)
export(read_zinovyev_genes)
export(reference_plae_celltypes)
export(regress_filtered_seu)
export(remove_non_tumor_cells)
export(rename_target)
export(reorder_within)
export(rescale_and_clean_plots)
export(retrieve_cell_stats)
export(retrieve_current_param)
export(retrieve_genes_in_cis)
export(retrieve_numbat_seurat)
export(retrieve_segmentation)
export(retrieve_snakemake_params)
export(run_speckle)
export(run_speckle_for_set)
export(run_velocity)
export(sample_specific_analyses_of_tumors_with_scna_subclones_after_integration)
export(save_cc_space_plot_from_path)
export(save_clone_tree_from_path)
export(scale_x_reordered)
export(scale_y_reordered)
export(score_and_heatmap_seu)
export(score_and_vlnplot_seu)
export(score_binary_celltype_clusters)
export(score_binary_celltype_markers)
export(score_chrom_instability)
export(score_clusters_up_down)
export(score_filtration)
export(score_pca)
export(score_samples_for_celltype_enrichment)
export(score_samples_for_rod_enrichment)
export(score_stachelek)
export(score_whole_pseudobulks)
export(select_16q_clones)
export(select_1q_clones)
export(select_genes_from_arbitrary_diffex)
export(select_genes_to_plot)
export(send_pipeline_notification)
export(set_final_seus)
export(seu_complex_heatmap)
export(seu_complex_heatmap2)
export(seu_factor_heatmap)
export(seu_gene_heatmap)
export(seu_integrate_rbs)
export(simplify_gt)
export(simplify_gt_col)
export(split_by_cnv)
export(split_label_line)
export(split_seu_by_branch)
export(split_vector_into_overlapping_chunks)
export(subset_seu_by_clones)
export(subset_seu_by_expression)
export(subset_to_16q)
export(subset_to_1q)
export(subset_to_high_hypoxia)
export(subset_to_low_hypoxia)
export(table_and_plot_enrichment)
export(table_cluster_markers)
export(table_distribution_of_clones_across_clusters)
export(tabulate_clone_comparisons)
export(tabulate_clone_percent)
export(tabulate_clone_percent_integrated)
export(tabulate_diffex_clones)
export(tally_kooi_candidates)
export(tally_num_diffex)
export(tidy_eval_arrange)
export(upsert_resolution_dictionary)
export(volcano_plot_clone_clusters)
export(volcano_plot_clones)
export(window)
export(wrap_scna_labels)
